{% extends 'data/base.html' %}
{% block title %} | Home {% endblock %}
{% block content %}

<!--
<div class="btn-group-vertical">
  <button type="button" class="btn btn-outline-primary" width>
    <a href="/index_pt/">Daftar Akreditasi Perguruan Tinggi</a>
  </button>
  <br>
  <button type="button" class="btn btn-outline-warning">
    <a href="/prodi/">Daftar Akreditasi Program Studi</a>
  </button>
  <br>
  <button type="button" class="btn btn-outline-success">
    <a href="/dosen/">Daftar Dosen</a>
  </button>
  <br>
  <button type="button" class="btn btn-outline-danger">
    <a href="/mahasiswa/">Daftar Mahasiswa</a>
  </button>
  <br>
  <button type="button" class="btn btn-outline-dark">
    <a href="/cari_pt/">Pencarian PT</a>
  </button>
</div>
-->
<!--
<div class="text-center">
  <div class="btn-group-vertical">
    <a class="btn btn-primary" href="/index_pt/" role="button">Daftar Akreditasi Perguruan Tinggi</a>
    <br>
    <a class="btn btn-warning" href="/prodi//" role="button">Daftar Akreditasi Program Studi</a>
    <br>
    <a class="btn btn-danger" href="/dosen/" role="button">Daftar Dosen</a>
    <br>
    <a class="btn btn-success" href="/mahasiswa/" role="button">Daftar Mahasiswa</a>
    <br>
    <a class="btn btn-dark" href="/cari_pt/" role="button">Pencarian PT</a>
  </div>
</div>
 -->

<br>

<div class="text-center">
  <!-- <div> -->
    <img class="mb-4" src="https://www.kemdikbud.go.id/main/files/large/9a06107dd5ae295" class="shrinkToFit transparent" width="189" height="134">
  <!-- </div> -->
  <div class="btn-group-vertical">
    <a class="btn btn-outline-primary" href="/index_pt/" role="button">Daftar Akreditasi Perguruan Tinggi</a>
    <br>
    <a class="btn btn-outline-warning" href="/prodi/" role="button">Daftar Akreditasi Program Studi</a>
    <br>
    <a class="btn btn-outline-danger" href="/dosen/" role="button">Daftar Dosen</a>
    <br>
    <a class="btn btn-outline-success" href="/mahasiswa/" role="button">Daftar Mahasiswa</a>
    <br>
    <a class="btn btn-outline-primary" href="/cari_pt/" role="button">Pencarian Perguruan Tinggi</a>
    <br>
    <a class="btn btn-outline-warning" href="/cari_prodi/" role="button">Pencarian Program Studi</a>
    <br>
    <a class="btn btn-outline-danger" href="/cari_dosen/" role="button">Pencarian Dosen</a>
    <br>
    <a class="btn btn-outline-success" href="/cari_mhs/" role="button">Pencarian Mahasiswa</a>
    <br>
    <a class="btn btn-outline-success" href="/cari_data_pt/" role="button">Pencarian Data PT</a>
    <br>
    <a class="btn btn-outline-success" href="/cari_data_prodi/" role="button">Pencarian Data Prodi</a>
  </div>
</div>

{% endblock %}
